<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibk.sb.restapi.biz.service.estimation.repo.EstimationProductRepo">

    <sql id="MARKET"><include refid="com.ibk.sb.restapi.biz.service.common.repo.SchemaRepo.MARKET"></include></sql>

    <!-- PagingMapper ID -->
    <sql id="pagingHeader"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageHeader"/></sql>
    <sql id="pagingFooter"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageFooter"/></sql>

    <insert id="insertEstimationProduct" parameterType="EstimationProductVO">
        INSERT INTO <include refid="MARKET"/>TB_BOX_MKT_ESM_PDF_R
        (
            ESTT_INFO_ID
            , INFO_SQN
            , SELR_USIS_ID
            , PDF_NM
            , PDF_PRC
            , COM_PRC_UT_ID
            , ORDN_QTY
            , COM_PDF_UT_ID
            , ESTT_PDF_PTRN_ID
            , GEAR_PDF_INFO_ID
            , PDF_CTGY_ID
            , RGSN_USER_ID
            , RGSN_TS
            , AMNN_USER_ID
            , AMNN_TS
        )
        VALUES
        (
            #{esttInfoId}
            , #{infoSqn}
            , #{selrUsisId}
            , #{pdfNm}
            , #{salePrc}
            , #{comPrcutId}
            , #{ordnQty}
            , #{comPdfutId}
            , #{esttPdfPtrnId}
            , #{gearPdfInfoId}
            , (SELECT PDF_CTGY_ID FROM <include refid="MARKET"/>TB_BOX_MKT_PDF_INF_M WHERE PDF_INFO_ID = #{gearPdfInfoId})
            , #{rgsnUserId}
            , CURRENT_TIMESTAMP
            , #{amnnUserId}
            , ''
        )
    </insert>

    <select id="searchEstimationProduct" parameterType="RequestSearchEstimationVO" resultType="EstimationProductVO">
        SELECT
            TBMEPR.ESTT_INFO_ID
             , TBMEPR.INFO_SQN
             , TBMEPR.PDF_NM
             , TBMEPR.PDF_PRC
             , TBMEPR.PDF_PRC AS SALE_PRC
             , TBMEPR.ORDN_QTY
             , TBMEPR.COM_PRC_UT_ID
             , (SELECT COM_CD_NM FROM <include refid="MARKET"/>TB_BOX_MKT_COM_CD_D WHERE COM_CD_ID = TBMEPR.COM_PRC_UT_ID) AS COM_PRC_UT_NM
             , TBMEPR.COM_PDF_UT_ID
             , (SELECT COM_CD_NM FROM <include refid="MARKET"/>TB_BOX_MKT_COM_CD_D WHERE COM_CD_ID = TBMEPR.COM_PDF_UT_ID) AS COM_PDF_UT_NM
             , TBMEPR.PDF_PRC * TBMEPR.ORDN_QTY AS SUM_AMT
             , TBMEPR.ESTT_PDF_PTRN_ID
             , TBMEPR.GEAR_PDF_INFO_ID
             , TBMPFR.FILE_ID AS IMG_FILE_ID
        FROM
            <include refid="MARKET"/>TB_BOX_MKT_ESM_PDF_R TBMEPR
            LEFT JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_FIE_R TBMPFR ON TBMPFR.PDF_INFO_ID = TBMEPR.GEAR_PDF_INFO_ID
                AND TBMPFR.FILE_PTRN_ID = #{filePtrnId}
                AND TBMPFR.INFO_SQN = (SELECT MIN(INFO_SQN) FROM <include refid="MARKET"/>TB_BOX_MKT_PDF_FIE_R WHERE FILE_PTRN_ID = #{filePtrnId} AND PDF_INFO_ID = TBMEPR.GEAR_PDF_INFO_ID)
        WHERE 1=1
          AND TBMEPR.ESTT_INFO_ID = #{esttInfoId}
    </select>

    <select id="searchProductAdd" parameterType="RequestSearchEstimationVO" resultType="EstimationProductVO">
        <include refid="pagingHeader"/>
        SELECT
            TBMPIM.PDF_INFO_ID
             , TBMPIM.PDF_INFO_ID AS GEAR_PDF_INFO_ID
             , 'ESS01001' AS ESTT_PDF_PTRN_ID
             , TBMPIM.SELR_USIS_ID
             , TBMPIM.PDF_CTGY_ID
             , '{'||TBMCC.TMS1_CLSF_NM||'},{'||TBMCC.TMS2_CLSF_NM||'},{'||TBMCC.TMS3_CLSF_NM||'},{'||TBMCC.TMS4_CLSF_NM||'},{'||TBMCC.TMS5_CLSF_NM||'}' AS CTGY_DATA
             , TBMCC.TMS2_CLSF_NM
             , TBMCC.TMS3_CLSF_NM
             , TBMCC.TMS4_CLSF_NM
             , TBMCC.TMS5_CLSF_NM
             , TBMPIM.PDF_NM
             , TBMPIM.MDLNM
             , TBMPIM.BRF_DESC
             , TBMPIM.BRF_SUB_DESC
             , TBMPIM.PDF_STTS_ID
             , TBMPIM.PDF_PGRS_YN
             , CASE WHEN TBMPIM.AGEN_INF_ID IS NULL THEN 'N' ELSE 'Y' END AS AGEN_PDF_YN
             , TBMPSL.PDF_PRC
             , TBMPSL.COM_PRCUT_ID
             , TBMCCPR.COM_CD_NM AS COM_PRCUT_NM
             , TBMPSL.COM_PDFUT_ID
             , TBMCCPD.COM_CD_NM AS COM_PDFUT_NM
             , TBMPSL.SALE_PRC
             , TBMPSL.PRC_DSCS_YN
             , TBMPSL.ESTT_USE_EN
             , TBMPFR.FILE_ID AS IMG_FILE_ID
             , TBMPDM.PRDT_BRDH
             , TBMPDM.PRDT_VRTC
             , TBMPDM.PRDT_AHGD
             , TBMPDM.PRDT_WGT
             , TBMPDM.DCH_GDS_PRC
        FROM
            <include refid="MARKET"/>TB_BOX_MKT_PDF_INF_M TBMPIM
            INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_SAL_L TBMPSL ON TBMPIM.PDF_INFO_ID = TBMPSL.PDF_INFO_ID
            INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_COM_CD_D TBMCCPR ON TBMPSL.COM_PRCUT_ID = TBMCCPR.COM_CD_ID
            INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_COM_CD_D TBMCCPD ON TBMPSL.COM_PDFUT_ID = TBMCCPD.COM_CD_ID
            INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_CTGY_C TBMCC ON TBMCC.CTGY_ID = TBMPIM.PDF_CTGY_ID
            INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_DVRY_M TBMPDM ON TBMPDM.PDF_INFO_ID = TBMPIM.PDF_INFO_ID
            LEFT JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_FIE_R TBMPFR ON TBMPFR.PDF_INFO_ID = TBMPIM.PDF_INFO_ID
                AND TBMPFR.FILE_PTRN_ID = #{filePtrnId}
                AND TBMPFR.INFO_SQN = (SELECT MIN(INFO_SQN) FROM <include refid="MARKET"/>TB_BOX_MKT_PDF_FIE_R WHERE FILE_PTRN_ID = #{filePtrnId} AND PDF_INFO_ID = TBMPIM.PDF_INFO_ID)
        WHERE 1=1
            <if test="pdfNm != null and !pdfNm.equals('')">
                AND TBMPIM.PDF_NM LIKE '%' || #{pdfNm} || '%'
            </if>
            <if test="pdfInfoId != null and !pdfInfoId.equals('')">
                AND TBMPIM.PDF_INFO_ID = #{pdfInfoId}
            </if>
            AND TBMPIM.SELR_USIS_ID = #{loginUsisId}
            AND TBMPIM.PDF_PGRS_YN = #{pdfPgrsYn}
            AND TBMPIM.DEL_YN = 'N'
        ORDER BY TBMPIM.RGSN_TS DESC
        <include refid="pagingFooter"/>
    </select>

    <select id="searchProductForDeliveryAmt" parameterType="RequestSearchEstimationVO" resultType="EstimationProductVO">
        SELECT
        TBMPIM.PDF_INFO_ID
        , TBMPIM.PDF_INFO_ID AS GEAR_PDF_INFO_ID
        , 'ESS01001' AS ESTT_PDF_PTRN_ID
        , TBMPIM.SELR_USIS_ID
        , TBMPIM.PDF_CTGY_ID
        , '{'||TBMCC.TMS1_CLSF_NM||'},{'||TBMCC.TMS2_CLSF_NM||'},{'||TBMCC.TMS3_CLSF_NM||'},{'||TBMCC.TMS4_CLSF_NM||'},{'||TBMCC.TMS5_CLSF_NM||'}' AS CTGY_DATA
        , TBMCC.TMS2_CLSF_NM
        , TBMCC.TMS3_CLSF_NM
        , TBMCC.TMS4_CLSF_NM
        , TBMCC.TMS5_CLSF_NM
        , TBMPIM.PDF_NM
        , TBMPIM.MDLNM
        , TBMPIM.BRF_DESC
        , TBMPIM.BRF_SUB_DESC
        , TBMPIM.PDF_STTS_ID
        , TBMPIM.PDF_PGRS_YN
        , CASE WHEN TBMPIM.AGEN_INF_ID IS NULL THEN 'N' ELSE 'Y' END AS AGEN_PDF_YN
        , TBMPIM.PDF_CTGY_ID
        , TBMPSL.PDF_PRC
        , TBMPSL.COM_PRCUT_ID
        , TBMPSL.COM_PDFUT_ID
        , TBMPSL.SALE_PRC
        , TBMPSL.PRC_DSCS_YN
        , TBMPSL.ESTT_USE_EN
        , TBMPDM.PRDT_BRDH
        , TBMPDM.PRDT_VRTC
        , TBMPDM.PRDT_AHGD
        , TBMPDM.PRDT_WGT
        , TBMPDM.DCH_GDS_PRC
        , TBMPDM.MXMM_GDS_CNT
        , TBMPDM.PRDTPCKN_UT_ID
        , TBMPDM.FILE_ID
        FROM
        <include refid="MARKET"/>TB_BOX_MKT_PDF_INF_M TBMPIM
        INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_SAL_L TBMPSL ON TBMPIM.PDF_INFO_ID = TBMPSL.PDF_INFO_ID
        INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_CTGY_C TBMCC ON TBMCC.CTGY_ID = TBMPIM.PDF_CTGY_ID
        INNER JOIN <include refid="MARKET"/>TB_BOX_MKT_PDF_DVRY_M TBMPDM ON TBMPDM.PDF_INFO_ID = TBMPIM.PDF_INFO_ID
        WHERE 1=1
            AND TBMPIM.PDF_INFO_ID = #{pdfInfoId}
            AND TBMPIM.DEL_YN = 'N'
    </select>

</mapper>