<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibk.sb.restapi.biz.service.review.repo.ReviewRepo">

    <sql id="MARKET"><include refid="com.ibk.sb.restapi.biz.service.common.repo.SchemaRepo.MARKET"/></sql>

    <!--    PagingMapper ID-->
    <sql id="pagingHeader"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageHeader"/></sql>
    <sql id="pagingFooter"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageFooter"/></sql>

    <!--    상품 상세 구매후기 헤더정보 조회  -->
    <select id="selectProductDetailReviewHeader" parameterType="RequestSearchReviewVO" resultType="ReviewHeaderVO">
        SELECT
            COUNT(1) AS TOTAL_REVIEW_CNT
            , AVG(REV_VAL) AS TOTAL_REVIEW_VALUE
        FROM
            <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R
        WHERE
            1 = 1
            AND USE_YN = 'Y'
            AND PDF_INFO_ID = #{pdfInfoId}
    </select>

    <!--    상품 구매후기 이미지 목록  -->
    <select id="selectProductDetailReviewImageList" parameterType="RequestSearchReviewVO" resultType="ReviewVO">
        SELECT
            TBMPRR.REV_INF_ID
            , TBMPRR.PDF_INFO_ID

            , TBMPRR.PUCS_USIS_ID
            , TBMFIM.BPLC_NM AS PUCS_USIS_NAME

            , TBMPRR.PDF_ODR_ID
            , TBMPRR.REV_CON
            , TBMPRR.REV_VAL
            , TBMPRR.USE_YN
            , TBMPRR.RGSN_USER_ID
            , TBMPRR.RGSN_TS
            , TO_CHAR(TBMPRR.RGSN_TS, 'YYYY-MM-DD HH24:MI:SS') AS RGSN_TS_STR
            , TBMPRR.AMNN_USER_ID
            , TBMPRR.AMNN_TS
        FROM
            <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R TBMPRR

        LEFT JOIN <include refid="MARKET"/>TB_BOX_MKT_FFPC_INF_M TBMFIM ON TBMFIM.UTLINSTT_ID = TBMPRR.PUCS_USIS_ID

        WHERE
            1 = 1
            AND TBMPRR.PDF_INFO_ID = #{pdfInfoId}
            AND TBMPRR.USE_YN = 'Y'

        ORDER BY TBMPRR.AMNN_TS DESC
    </select>

    <!--    상품 구매후기 첨부 파일 리스트 조회-->
    <select id="selectReviewFileList" parameterType="string" resultType="ReviewFileVO">
        SELECT
            REV_INF_ID
            , FILE_ID
            , INFO_SQN
            , RGSN_USER_ID
            , RGSN_TS
            , AMNN_USER_ID
            , AMNN_TS
        FROM
             <include refid="MARKET"/>TB_BOX_MKT_REV_FIE_L TBMRFL

        WHERE
            1 = 1
            AND TBMRFL.REV_INF_ID = #{revInfId}

        ORDER BY TBMRFL.INFO_SQN ASC
    </select>

    <!--    상품 상세 구매후기 목록 조회    -->
    <select id="selectReviewList" parameterType="RequestSearchReviewVO" resultType="ReviewVO">
        <include refid="pagingHeader"/>
            SELECT
                TBMPRR.REV_INF_ID
                , TBMPRR.PDF_INFO_ID

                , TBMPRR.PUCS_USIS_ID
                , TBMFIM.BPLC_NM AS PUCS_USIS_NAME

                , TBMPRR.PDF_ODR_ID AS ORDN_INFO_ID
                , TBMPRR.REV_CON
                , TBMPRR.REV_VAL
                , TBMPRR.USE_YN
                , TBMPRR.RGSN_USER_ID
                , TBMPRR.RGSN_TS
                , TO_CHAR(TBMPRR.RGSN_TS, 'YYYY-MM-DD HH24:MI:SS') AS RGSN_TS_STR
                , TBMPRR.AMNN_USER_ID
                , TBMPRR.AMNN_TS

                , TBMOPR.QTY
                , TBMOPR.TTAL_AMT
                , TO_CHAR(TBMOPR.RGSN_TS, 'YYYY-MM-DD HH24:MI:SS') AS ORDN_TS_STR

        FROM
                <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R TBMPRR

            LEFT JOIN <include refid="MARKET"/>TB_BOX_MKT_FFPC_INF_M TBMFIM ON TBMFIM.UTLINSTT_ID = TBMPRR.PUCS_USIS_ID
            LEFT JOIN <include refid="MARKET"/>TB_BOX_MKT_ORDER_PDF_R TBMOPR ON TBMOPR.ORDN_INFO_ID = TBMPRR.PDF_ODR_ID AND TBMOPR.PDF_INFO_ID = TBMPRR.PDF_INFO_ID

            WHERE
                1 = 1
                <if test="pdfInfoId != null and !pdfInfoId.equals('')">
                    AND TBMPRR.PDF_INFO_ID = #{pdfInfoId}
                </if>
                AND TBMPRR.USE_YN = 'Y'
                <if test="revInfId != null and !revInfId.equals('')">
                    AND TBMPRR.REV_INF_ID = #{revInfId}
                </if>

            ORDER BY TBMPRR.AMNN_TS DESC
        <include refid="pagingFooter"/>
    </select>

    <!--    상품 상세 구매후기 등록   -->
    <insert id="insertReview" parameterType="ReviewVO">
        INSERT INTO <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R
        (
            REV_INF_ID
            , PDF_INFO_ID
            , PUCS_USIS_ID
            , PDF_ODR_ID
            , REV_CON
            , REV_VAL
            , USE_YN
            , RGSN_USER_ID
            , RGSN_TS
            , AMNN_USER_ID
            , AMNN_TS
        )
        VALUES
        (
            #{revInfId}
            , #{pdfInfoId}
            , #{pucsUsisId}
            , #{ordnInfoId}
            , #{revCon}
            , #{revVal}
            , 'Y'
            , #{rgsnUserId}
            , CURRENT_TIMESTAMP
            , #{amnnUserId}
            , CURRENT_TIMESTAMP
        )
    </insert>

    <!--    상품 구매후기 파일 등록 -->
    <insert id="insertReviewFile" parameterType="ReviewFileVO">
        INSERT INTO <include refid="MARKET"/>TB_BOX_MKT_REV_FIE_L
        (
            REV_INF_ID
            , FILE_ID
            , INFO_SQN
            , RGSN_USER_ID
            , RGSN_TS
            , AMNN_USER_ID
            , AMNN_TS
        )
        VALUES
        (
            #{revInfId}
            , #{fileId}
            , (
                SELECT CASE WHEN MAX(INFO_SQN) IS NULL THEN 1 ELSE MAX(INFO_SQN) + 1 END
                FROM <include refid="MARKET"/>TB_BOX_MKT_REV_FIE_L
                WHERE REV_INF_ID = #{revInfId}
            )
            , #{rgsnUserId}
            , CURRENT_TIMESTAMP
            , #{amnnUserId}
            , CURRENT_TIMESTAMP
        )
    </insert>

    <!--    상품 상세 구매후기 수정   -->
    <update id="updateReview" parameterType="ReviewVO">
        UPDATE
            <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R
        SET
            REV_CON             = #{revCon}
            , REV_VAL           = #{revVal}
            , AMNN_TS           = CURRENT_TIMESTAMP
            , AMNN_USER_ID      = #{amnnUserId}
        WHERE
            REV_INF_ID          = #{revInfId}
    </update>

    <!--    상품 상세 구매후기 파일 삭제    -->
    <delete id="deleteReviewFile" parameterType="string">
        DELETE FROM <include refid="MARKET"/>TB_BOX_MKT_REV_FIE_L
        WHERE REV_INF_ID = #{revInfId}
    </delete>

    <!--    상품 상세 구매후기 삭제   -->
    <update id="deleteReview" parameterType="ReviewVO">
        UPDATE
            <include refid="MARKET"/>TB_BOX_MKT_PDF_REV_R
        SET
            USE_YN                  = 'N'
            , AMNN_USER_ID          = #{amnnUserId}
            , AMNN_TS               = CURRENT_TIMESTAMP
        WHERE
            REV_INF_ID = #{revInfId}
    </update>

<!--    <delete id="deleteReview" parameterType="ReviewVO">-->
<!--        DELETE FROM <include refid="MARKET"/>TB_BOX_MKT_GDS_REV_INF_R-->
<!--        WHERE UTLINSTT_ID = #{utlinsttId} AND GDS_ID = #{gdsId} AND REV_INF_ID = #{revInfId}-->
<!--    </delete>-->

</mapper>